.board {
  display: grid;
  grid-template-columns: repeat(30, 28px); /* 20 columnas de 28px */
  grid-template-rows: repeat(30, 28px);    /* 20 filas de 28px */
  border: 2px solid #8d8d8d;
  background: #111;
  justify-content: center;
  align-content: center;
  width: fit-content;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.snake {
  position: absolute;
  transition: top 0.15s linear, left 0.15s linear;
}

.snake.body {
  background-image: url('/body-snake.png');
  background-size: cover; /* o 28px 28px si quiere que repita por celda */
  background-repeat: repeat;
}

.snake.head {
  background: green; /* sin textura */
  border-radius: 0px 10px 10px 0px;
}

.snake.tail {
  background: darkgreen; /* sin textura */
}