.board {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(30, 20px);
  border: 2px solid #8d8d8d;
  background-color: #111;
  background-image:
    linear-gradient(to right, #1e1e1e 1px, transparent 1px),
    linear-gradient(to bottom, #1e1e1e 1px, transparent 1px);
  background-size: 20px 20px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
}

.snake {
  position: absolute;
  transition: top 0.15s linear, left 0.15s linear;
}

.snake.body {
  background-image: url('/body-snake.png');
  background-size: cover; /* o 28px 28px si quiere que repita por celda */
  background-repeat: repeat;
}

.snake.head {
  background: green; /* sin textura */
  border-radius: 0px 10px 10px 0px;
}

.snake.tail {
  background: darkgreen; /* sin textura */
}

.food {
  position: absolute;
  background: red;
  border-radius: 50%; /* círculo */
}