.snake {
  position: absolute;
  transition: top 0.15s linear, left 0.15s linear;
}

.snake.body {
  background: #0e9807;
}

.snake.head {
  background-image: url('/head.png');
  background-size: cover;
}

.snake.tail {
  background: #0e9807;
}
